* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    background: rgb(235, 247, 255);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    /* max-width: 25.75rem; */
    padding: 1.55rem;
    background: rgba(255, 255, 255, 0.692);

    box-shadow: 15px 15px 15px -22px;
    border-radius: 1.25rem;

    display: grid;
    gap: 2rem;
}



/* -------- Typography -------- */

h1 {
    font-weight: 200;
    padding-bottom: 0.8125rem;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 2.02rem;
    padding-bottom: 1.25rem;
    color: rgba(0, 0, 0);
}

h3 {
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
    color: rgba(0, 0, 0);
}

p {
    line-height: 1.65rem;
    font-size: 1.15rem;
    padding-bottom: 1.25rem;
    color: rgba(0, 0, 0);
}

.other-p {
    line-height: 1.65rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0);
}


/* ----- Image Section ----- */
img {
    float: right;
}


/* ----- Cards Color Section ----- */

header {
    background: rgb(253, 253, 253);
    border-radius: .33rem;
    padding: 1.55rem;
    border-top: 4px solid rgb(114, 114, 114);

    box-shadow: 1px 20px 50px -50px;

    grid-area: h;
}

.card1 {
    background: rgba(195, 246, 250, 0.459);
    border-radius: .33rem;
    padding: 1.55rem;
    border-top: 4px solid rgb(11, 216, 243);

    box-shadow: 1px 20px 50px -50px;

    grid-area: s;
}
.card2 {
    background: rgb(255, 228, 228);
    border-radius: .33rem;
    padding: 1.55rem;
    border-top: 4px solid rgb(204, 1, 68);

    box-shadow: 1px 20px 50px -50px;

    grid-area: t;
}
.card3 {
    background: rgb(255, 249, 197);
    border-radius: .33rem;
    padding: 1.55rem;
    border-top: 4px solid rgb(235, 180, 2);

    box-shadow: 1px 20px 50px -50px;

    grid-area: k;
}

.card4 {
    background: rgb(238, 238, 238);
    border-radius: .33rem;
    padding: 1.55rem;
    border-top: 4px solid rgb(114, 114, 114);

    box-shadow: 1px 20px 50px -50px;

    grid-area: c;
}







/* Grid Section */
@media (max-width: 31.25rem) {
    .container {
        display: grid;
    }
}

@media (min-width: 31.3125rem) and (max-width: 31.25rem) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "h h h"
            ". t ."
            "s t c"
            "s k c"
            ". k .";
    }

}